.app {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f6f7;
}

input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #dcdfe1;
  outline: none;
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chart-container {
  width: 90%; /* You can set this as per your need */
  max-width: 750px; /* Optional: This ensures the container doesn't get too big on large screens */
  margin: 0 auto; /* This will center the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticker-heading {
  margin-bottom: 20px; /* Optional: to give some space between the heading and the chart */
  font-size: 24px;
  color: #333;
  text-align: center;
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  background-color: #f5f6f7;
}


.search-button {
  position: absolute;
  right: 5px;  /* Adjust based on your SVG and desired spacing */
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px; /* Gives an area around the SVG making it easier to click */
  z-index: 1; /* Ensures the button stays above the input */
}

.selectors-containers {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;  /* You might want to adjust this depending on your desired maximum width */
}

.selectors-containers button {
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #dcdfe1;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.selectors-containers button:hover {
  background-color: #007BFF; /* Example color, you can use your desired color */
  color: #ffffff; /* Making the text white when button is hovered */
}

.selectors-containers button:active {
  background-color: #0056b3; /* Slightly darker shade for an active/pushed button effect */
}

.selectors-containers button.selected {
  background-color: #007BFF;
  color: #ffffff;
  
}

.LineChart-containers {
  width: 100%; /* Take up the full width of its parent container */
  height: 500px; /* Or however tall you want it */
  background-color: #f5f6f7;
}